#pageTitle {
  margin: 20px 0;
  text-align: center;
}

.formBox {
  margin: 0 auto 0 auto;
  padding: 30px 40px;
  border-radius: 0 0 10px 10px;
  width: 20%;
  background-color: #f8f9fa;
}

#login-btn {
  width: 200px;
}

.divider-text {
  margin: 10px 0;
}

.google-login-btn {
  height: 50px;
  width: 250px;
}

.social {
  margin-bottom: 10px;
}

.kep-login-facebook {
  height: 50px;
  width: 250px;
}

.divider-text {
  margin: 10px 0;
  text-align: center;
}
